@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-col {
  grid-template-columns: repeat(1, auto);
}

.bg-opacity {
  background-color: rgba(0, 0, 0, 0.514);
}

@media (min-width: 768px) {
  .grid-col {
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 1024px) {
  .grid-col {
    grid-template-columns: repeat(3, auto);
  }
}
